<ion-header [translucent]="true">
    <ion-img class="img-logo" src="../../assets/img/logo.svg"></ion-img>
 </ion-header>
 <ion-content [fullscreen]="true">
     <ion-card>
        <ion-card-header>
            <ion-button fill="clear"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
            <ion-button fill="clear"><ion-icon name="folder-outline"></ion-icon></ion-button>
        </ion-card-header>
         <ion-card-content>
            <ion-label class="title-card">Desafiliar usuario</ion-label>
            <p>
                I saw a werewolf with a Chinese menu in his hand.
                Walking through the <ion-text color="danger"><sub>streets</sub></ion-text> of Soho in the rain.
                He <ion-text color="primary"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
                Gonna get a <ion-text color="secondary"><a>big dish of beef chow mein.</a></ion-text>
              </p>
         </ion-card-content>
         <ion-card-footer>
            <div class="control-btn">
                <ion-button class="outline-btn">Aceptar</ion-button>
                <ion-button class="outline-btn">Cancelar</ion-button>
            </div>
        </ion-card-footer>
       </ion-card>
 </ion-content>