<ion-header [translucent]="true">
    <ion-img class="img-logo" src="../../assets/img/logo.svg"></ion-img>
 </ion-header>
 <ion-content [fullscreen]="true">
     <ion-card>
         <ion-card-header>
            <ion-label class="title-card">Registro</ion-label>
         </ion-card-header>
         <ion-card-content>
            <ion-input class="dash-input" type="text" placeholder="user" slot="end"><ion-icon name="person"></ion-icon></ion-input>
            <ion-input class="dash-input" type="text" placeholder="password" slot="end"><ion-icon name="lock-closed"></ion-icon></ion-input>
            <div class="control-btn">
                <ion-list>
                    <ion-item>
                      <ion-label>Aceptar terminos y condiciones</ion-label>
                      <ion-checkbox slot="end"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                <ion-button class="outline-btn">Afiliate</ion-button>
            </div>
         </ion-card-content>
       </ion-card>
 </ion-content>
 