<ion-header [translucent]="true">
    <ion-img class="img-logo" src="../../assets/img/logo.svg"></ion-img>
 </ion-header>
 <ion-content [fullscreen]="true">
     <ion-card>
        <ion-card-header>
            <ion-button fill="clear"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
            <ion-button fill="clear"><ion-icon name="folder-outline"></ion-icon></ion-button>
        </ion-card-header>
         <ion-card-content>
            <div class="control-btn">
                <ion-button class="outline-btn">Afiliate</ion-button>
            </div>
         </ion-card-content>
       </ion-card>
 </ion-content>
 