<ion-header [translucent]="true">
    <ion-img class="img-logo" src="../../assets/img/logo.svg"></ion-img>
 </ion-header>
 <ion-content>
     <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-row>
                            <ion-col size="2">
                                <ion-icon name="file-tray-outline"></ion-icon>
                            </ion-col>
                            <ion-col size="10">
                                <ion-label class="title">Inbox</ion-label>
                                <ion-label class="caption">Tasks pending validation or completion</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-row>
                            <ion-col size="2">
                                <ion-icon name="apps-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="10">
                                <ion-label class="title">Grid Card</ion-label>
                                <ion-label class="caption">Generate and / or consult the coordinates card</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-row>
                            <ion-col size="2">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="10">
                                <ion-label class="title">User secure</ion-label>
                                <ion-label class="caption">QR for secure entry</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-row>
                            <ion-col size="2">
                                <ion-icon name="link-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="10">
                                <ion-label class="title">Token</ion-label>
                                <ion-label class="caption">token key generation for transactions</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-row>
                            <ion-col size="2">
                                <ion-icon name="qr-code-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="10">
                                <ion-label class="title">Token QR</ion-label>
                                <ion-label class="caption">Scan / display QR image</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-row>
                            <ion-col size="2">
                                <ion-icon name="person-remove-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="10">
                                <ion-label class="title">Disenrolled</ion-label>
                                <ion-label class="caption">Delete this account permanentely</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-row>
                            <ion-col size="2">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="10">
                                <ion-label class="title">Logout</ion-label>
                                <ion-label class="caption">Sign out</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
     </ion-grid>
 </ion-content>
