<ion-header [translucent]="true">
    <ion-img class="img-logo" src="../../assets/img/logo.svg"></ion-img>
 </ion-header>
 <ion-content [fullscreen]="true">
     <ion-card>
         <ion-card-header>
             <ion-icon name="arrow-back-outline"></ion-icon>
             <ion-icon name="key-outline"></ion-icon>
         </ion-card-header>
         <ion-card-content>
           <ion-label>Código de autenticación</ion-label>
           <ion-input class="dash-input" placeholder="Ingrese el codigo"></ion-input>
           <ion-button class="outline-btn">confirmar</ion-button>
         </ion-card-content>
       </ion-card>
 </ion-content>
 